# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AlgorithmsKR1.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ArtemPC\RiderProjects\AlgorithmsKR1\.idea\.idea.AlgorithmsKR1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
